
*{
    margin: 0;
    padding: 0;
}

.container-1{
    border: 1px solid gray;
    text-align: center;
    background:#FFBE9F;
    padding: 20px 0 20PX 0;
}
.container-2{
    padding: 20px 0 20px 0;
    border: 1px solid black;
    display: flex; 
    justify-content: space-between;
}

p{
    color: black;
    
}

ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    
}

ul a{
    color: #B82330;
    text-decoration: none;
    margin-left: 30px;
    font-size: large;
    font-weight: bold;
}

select{
    border: none;
    color: #B82330;
    
}

.icon-select{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    
}
.icon-select select option , .icon-select div i{
    color:#BC2E3B;
}
.logo{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.container-3{
    text-align: center;
    color: #B82330;
    margin: 30px 0 30px 0;
    font-size: large;
}

.container-4{
    display: flex;
    justify-content: space-evenly;
}



img{
    width: 280px;

}

i{
    color:#BC2E3B;
}

/* Pagination links */
.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }

  .pagination1{
    text-align: center;
    margin-top: 100px;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .viewed{
    text-align: center;
    margin-top: 100px;
    color: #B82330;
  }

  .viewed-img{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
  }

  footer{
    background: #FFD8C5;
    height: 400px;
  }

  .footer-container{
    display: flex;
    gap: 5rem;
    margin-top: 50px;
    justify-content: space-evenly;
  }
  .footer1, .footer2, .footer3{
    margin-top: 50px;
  }
  .footer2 h2{
    margin:  0 20px 0;
  }
  .list{
    margin: 20px 0 20px 0;
  }

  .footer3 input{
    padding: 15px;
    border-radius: 10px;
  }

  .footer3 button{
    margin: 20px 0 20px 0;
    background-color: #53555A;
    padding: 10px;
    width: 100px;
    color: white;
    border-radius: 10px;
  }

  .footer3 p{
    margin: 20px 0 20px 0;
  }

  .footer1 p{
    margin: 20px 0 20px 0;
  }

  .footer1 img{
    width: 100px;
    height: 50px;
    margin: 20px 0 20px 0;
  }

  .list{
    display: flex;
    gap: 1rem;
  }

  li{
    list-style: none;
  }

ol a{
    color: #B82330;
    text-decoration: none;
    font-size: large;
}